main,
.courses-container {
    display: grid;
    gap: 0.5rem;
}

main {
    grid-template-columns: 4fr 1fr;
}

.courses-container {
    grid-template-columns: 1fr 1fr 1fr;
}

.course-container:hover {
    border: 1px solid var(--hover-color) !important;
}

a,
h3,
ul {
    color: var(--font-color);
}

button {
    background-color: var(--link-color);
    padding: var(--btn-padding);
    color: var(--gray-color);
}

button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}


a:hover,
p {
    color: var(--hover-color);
    transition: all 1s ease-out .5s;
}

ul {
    color: var(--text-color);
    list-style: none;
}

li:nth-child(2),
li:last-child {
    font-weight: 700;
}

li:nth-child(3),
li:first-child,
li:last-child {
    font-size: var(--small-font-size);
}