:root {
    --font-color: #0cb122;
    --link-color: #9442c4;
    --hover-color: #5552dd;
    --littleMargin: 0.5rem;
    --gray-color: #fcf3f3;
    --text-color: #534f4f;
    --padding: 0.4rem;
    --border-radius: 0.25rem;
    --btn-padding: 0.35rem 1.5rem;
    --small-font-size: 0.8rem;
}